
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css" />
    <script type="text/javascript">
        function doDelete(id) {
            if (confirm("确定删除此用户吗？")) {
                location.href = "success.html?users.userId=" + id;
            }
        }
    </script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>

<body>
    <div id="app">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/' }">您正在做的业务是：人力资源</el-breadcrumb-item>
                    <el-breadcrumb-item><a href="/">权限管理</a></el-breadcrumb-item>
                    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <br>
            当前角色总数：<i style="color:red">{{this.rows}}</i>&nbsp;例
            <div>
                <el-row>
                    <el-col :span="6" style="margin-top:10px">
                        <el-button type="primary" size="small" onclick="window.location.href='/Power/user_add'">新增</el-button>
                    </el-col>
                </el-row>
                <el-table :data="list"
                          border
                          style="width: 100%; ">
                    <el-table-column prop="u_id"
                                     label="用户编号"
                                     width="180">

                    </el-table-column>
                    <el-table-column prop="u_name"
                                     label="用户名称"
                                     width="180">
                    </el-table-column>

                    <el-table-column prop="u_true_name"
                                     label="真实姓名"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="u_password"
                                     label="用户密码"
                                     width="180">
                        <template slot-scope="scope">
                            {{ scope.row.u_password ? scope.row.u_password.substring(0,2) + '****' + scope.row.u_password.substring(3) : '' }}
                        </template>
                    </el-table-column>


                    <el-table-column prop="rolesName"
                                     label="用户身份"
                                     width="180">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button size="mini" v-on:click="update(scope.row.u_id)">修改</el-button>
                            <el-button size="mini" type="danger" v-on:click="remove(scope.row.u_id)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-card>
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :currentpage="currentPage"
                       :page-sizes="[3, 6, 9, 12]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="rows">
        </el-pagination>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                list: [],
                currentPage: 1,
                pageSize: 3,
                rows: 0,
            },
            methods: {
                fill: function () {
                    axios.get('/Power/UserFenye_Find', {
                        params: {
                            str: "",
                            CurrentPage: this.currentPage,
                            PageSize: this.pageSize
                        }
                    },
                        {
                        })
                        .then(res => {
                            console.log(res);
                            this.list = res.data.List;
                            this.rows = res.data.Rows;
                        })
                        .catch(err => {
                            console.log(err);
                        })
                },
                handleSizeChange: function (size) {
                    this.pageSize = size;
                    this.currentPage = 1;
                    this.fill();
                },
                handleCurrentChange: function (cpage) {
                    this.currentPage = cpage;
                    this.fill();
                },
                update(id) {
                   
                    location.href = "/Power/user_edit?uid=" + id;
                },
                remove(id) {
                    if (confirm("确定删除此信息吗?")) {
                        axios.get('/Power/userDelete', {
                            params: {
                                uid: id
                            }
                        },
                            {
                            })
                            .then(res => {
                                console.log(res);
                                this.$message({
                                    message: "删除成功!",
                                    type: "success",
                                });
                                this.fill();
                            })
                            .catch(err => {
                                console.log(err);
                            })
                    }
                  
                }
            },
            mounted: function () {
                this.fill();
            },
            // 时间格式
            filters: {
                ftime: function (value, spe) {
                    if (value == '/Date(-62135596800000)/') {
                        return '空'
                    }
                    var dt = new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10));
                    return dt.getFullYear() + "年" + (dt.getMonth() + 1) + "月" + dt.getDate() + " 日";
                }
            },
        })
    </script>
</body>
</html>

